body {
  background: #f5f5f5; /* Gris claro */
  font-family: 'Lato', 'Merriweather', sans-serif;
  color: #333;
}

.sidebar {
  background: #111 !important; /* Negro puro */
}

.sidebar-nav .nav-link {
  color: #ddd;
}

.sidebar-nav .nav-link:hover {
  background: #222 !important; /* Negro más claro */
}

.sidebar-nav .nav-link.active {
  background: #444; /* Gris oscuro */
  color: #fff;
}
